.home-page {
    position: fixed; 
    height: 100%;
    width: 100%;
    background-color: #DCDCDC;
    font-family:Courier, Monaco, monospace;  
    margin-top: 0px;
    font-size: 21px;
    text-align: center;
    animation: fadein 5s;
    -moz-animation: fadein 5s; 
    -webkit-animation: fadein 5s; 
    -o-animation: fadein 5s; 
  }

  .link {
    margin-left: 40%;
  }
  
  .link:hover {
    color: grey;
    font-size: 150%;
  }

  .welcomeMessage {
    padding-top: 20%;
  }
  
 /* Fade in animation frames */

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
  }  